<div class="li-container">
    <span class="li-property-name">
        <RadzenImage class="li-property-thumbnail" Path="@ImageUrl" />
        @PropertyName
    </span>
    <span class="li-city-name"><RadzenIcon Icon="place" />@CityName</span>
</div>