@page "/{Culture}/404"
@page "/404"
@using System.Globalization

<Header />
<content class="cc">
    <h1>404</h1>
    <h2>Page not found</h2>
    <p>The page you are looking for is no longer here. Maybe it was never here in the first place. In any case, we are sorry you were sent on this wild goose chase.</p>
    <a href="/">Search properties</a>
</content>
<Footer />