@using Leavetown.Client.Components.Inline

<div class="fs-container" role="group">
    @for (int i = 0; i < Items.Count; i++)
    {
        var item = Items[i];
        <div class="fs-content">
            <div>
                <div class="fs-circle @(i == ActiveIndex - 1 ? "active" : "")">
                    @(i + 1)
                </div>
                <div class="fs-text">
                    <span class="fs-title">@item.Title</span>
                    <span class="fs-subtitle">@item.Subtitle</span>
                </div>
            </div>
            <div class="fs-connector-line"></div>
        </div>
    }
</div>