::deep .rz-card {
    margin: 1rem;
}

::deep .lt-card {
    margin: 0;
}

.co-page {
    width: 100%;
}

.co-container {
    max-width: var(--sizes-container-lg);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: fit-content;
}

.co-form-title {
    margin-left: 2rem;
}

.co-form-content {
    display: flex;
    flex-direction: column;
}

::deep .co-form-card {
    display: flex;
    width: auto;
    padding: 0;
    height: auto;
    box-shadow: unset;
    position: relative;
    padding-bottom: 2.5rem;
}

    ::deep .co-form-card > div {
        padding-top: 2rem;
    }

.nav-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: solid 0.05rem var(--colors-gray-100);
    padding: 2rem 2rem 0 2rem;
}

    .nav-row > ::deep .rz-button {
        width: auto;
    }

::deep .co-panel-content {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: auto;
    height: auto;
    margin-bottom: 2rem;
}

.co-form-details {
    display: flex;
    flex-direction: column;
}

    .co-form-details > ::deep h3 {
        margin-left: 2rem;
    }

    .co-form-details > span {
        font-weight: var(--fontWeights-bold);
        line-height: var(--lineHeights-shorter);
        font-size: var(--fontSizes-lg);
        color: var(--colors-text);
        padding: 0 2rem;
    }

    .co-form-details > ::deep .rz-card {
        margin: 0.5rem 2rem;
        width: auto;
    }

    .co-form-details > a {
        color: var(--colors-link);
        transition: all 0.15s ease-out 0s;
        cursor: pointer;
        text-decoration: none;
        outline: none;
        font-size: var(--fontSizes-sm);
        display: flex;
        padding: 0 2rem 1rem 2rem;
    }

        .co-form-details > a:hover {
            text-decoration: none;
            color: var(--colors-linkHover);
        }

        .co-form-details > a > ::deep i {
            margin-right: 0.5rem;
        }

@media screen and (min-width: 48em) {

    ::deep .co-form-card {
        box-shadow: 0 0.375rem 0.875rem 0 rgb(0 0 0 / 6%);
    }

    .nav-row {
        padding: 2rem;
    }
}

@media screen and (min-width: 62em) {
    .co-form-content {
        flex-direction: row;
    }

    ::deep .co-form-card {
        width: 75%;
    }

    .co-form-title > h1 {
        font-size: var(--fontSizes-3xl);
    }

    .co-container {
        max-width: var(--sizes-container-xl);
    }

    ::deep .co-panel-content {
        width: 25%;
        height: fit-content;
    }
}
