.inquiry-container {
    height: 100%;
}

.inquiry-content {
    height: 100%;
}

.inquiry-form-header-row,
.inquiry-date-row,
.inquiry-name-row,
.inquiry-contact-row,
.inquiry-guest-row,
.inquiry-message-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 20%;
}

    .inquiry-date-row > div,
    .inquiry-name-row > div,
    .inquiry-contact-row > div,
    .inquiry-guest-row > div > div,
    .inquiry-message-row > div {
        display: flex;
        flex-direction: column;
    }

.inquiry-form-header-row {
    flex-direction: row-reverse;
}

.clear-form-button {
    align-items: flex-end;
}
.clear-form-button > button {
    border: unset;
    display: flex;
    background-color: inherit;
    color: var(--colors-textLight);
    font-size: 90%;
    font-weight: 600;
}

.clear-form-button > button ::deep i {
    font-size: 90%;
    font-weight: 900;
    padding: 0.3rem 0.5rem 0 0;
}

.inquiry-date-row {
    flex-direction: row;
    justify-content: space-between;
}

.inquiry-name-row {
    flex-direction: row;
}

.inquiry-contact-row {
    flex-direction: row;
}

.inquiry-guest-row {
    flex-direction: row;
}

    .inquiry-guest-row > div {
        display: flex;
        flex-direction: row;
    }

        .inquiry-guest-row > div > div {
            margin-right: 1rem !important;
        }

.inquiry-message-row {
    flex-direction: row;
}

.clear-form-button ::deep .rz-button.rz-light {
    background-color: transparent;
}

    .clear-form-button ::deep .rz-button.rz-light:hover {
        background: rgba(0, 0, 0, 0.05);
    }

.clear-form-button ::deep span {
    color: var(--colors-textLight);
    font-size: 90%;
}

.clear-form-button ::deep i {
    color: var(--colors-textLight);
    font-weight: 700;
}

.send-inquiry-button {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

::deep button.auto-button-width {
    width: auto;
}

/* Small devices (landscape tablets, less than 768px) */
@media only screen and (min-width: 0em) {
    .inquiry-date-row {
        flex-direction: column-reverse;
    }

        .inquiry-date-row > div:nth-child(1) {
            width: fit-content;
        }

        .inquiry-date-row > div:nth-child(2) {
            width: 100%;
        }

        .inquiry-date-row ::deep .lt-popover-dropdown-btn {
            border-radius: 4px;
        }

    .inquiry-name-row,
    .inquiry-contact-row,
    .inquiry-guest-row,
    .inquiry-message-row {
        flex-direction: column;
    }

        .inquiry-date-row > div,
        .inquiry-name-row > div,
        .inquiry-contact-row > div,
        .inquiry-guest-row > div > div,
        .inquiry-message-row > div {
            width: 95%;
            margin: 0.25rem;
        }

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 62em) {

    .inquiry-date-row > div:nth-child(1) {
        width: 50%;
        padding-right: 2rem;
        margin-top: 0;
    }

    .inquiry-date-row > div:nth-child(2) {
        width: 50%;
    }

    .inquiry-date-row,
    .inquiry-name-row,
    .inquiry-contact-row,
    .inquiry-guest-row,
    .inquiry-message-row {
        flex-direction: row;
    }

        .inquiry-date-row > div,
        .inquiry-name-row > div,
        .inquiry-contact-row > div,
        .inquiry-guest-row > div > div,
        .inquiry-message-row > div {
            width: 100%;
            margin: 1rem;
        }
}